{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-no-bind": 0,
    "jsx-a11y/img-uses-alt": 0,
    "jsx-a11y/redundant-alt": 0,
    "jsx-a11y/valid-aria-role": 0
  }
}
